/* esercizio 1 */
.ex-1-square:hover {
    transition: background-color 1s ease-in-out;
    background-color: red;
}
/* esercizio 2 */
.ex-2-square:active {
    transition: width 2s ease-in-out;
    width: 100%;
}
/* esercizio 3 */
.ex-3-square:hover {
    transition: border-radius 2s ease-in-out;
    border-radius: 50%;
}
/* esercizio 4 */
.ex-4-square:hover {
    transition: background-color 3s ease-in-out;
    background-color: transparent;
}
/* esercizio 5 */
.ex-5-square:hover {
    transition:  1s ease-in-out;
    transition:  1s ease-in-out;
    width: 100px;
    height: 100px;
}
.ex-5-square:active {
    transition: width 30px 1s ease-in-out;
    transition: height 30px 1s ease-in-out;
    width: 30px;
    height: 30px;
}
/* esercizio 6 */
