/* esercizio 1 */
.ex-1-square:hover {
    transition: background-color 1s linear;
    background-color: red;
}
/* esercizio 2 */
.ex-2-square:active {
    transition: width 2s linear;
    width: 100%;
}
/* esercizio 3 */
.ex-3-square:hover {
    transition: border-radius 2s linear;
    border-radius: 50%;
}
/* esercizio 4 */
.ex-4-square:hover {
    transition: background-color 3s linear;
    background-color: transparent;
}
/* esercizio 5 */
.ex-5-square:hover {
    transition:  1s ease-in-out;
    transition:  1s ease-in-out;
    width: 100px;
    height: 100px;
}
.ex-5-square:active {
    transition: width 30px 1s ease-in-out;
    transition: height 30px 1s ease-in-out;
    width: 30px;
    height: 30px;
}
/* esercizio 6 */

.ex-6-img:hover {
    filter: grayscale(1);
}
/* esercizio 7 */
.ex-7-img {
    transition: filter 2s linear;
}

.ex-7-img:hover {
    filter: grayscale(1);
}
/* esercizio 8 */
.ex-8-img {
    transition: all 2s linear;
}

.ex-8-img:hover {
    filter: grayscale(1);
    width: 200px;
    border-radius: 13px;
}
/* esercizio 9 */
.ex-9-img {
    transition: all 5s linear;
}

.ex-9-img:hover {
    width: 300px;
    transform: scale(0.5);
    filter: grayscale(1);
    border-radius: 7px;
}
/* esercizio 10 */
.ex-10-icon:hover {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* esercizio 11 */
.ex-11-icon:hover {
    animation: spin-2 2s linear infinite;
}

@keyframes spin-2 {
    0% { transform: rotate(0deg); }
    75% { transform: rotate(270deg); }
}

@keyframes spin-2 {
    75% { transform: rotate(270deg); }
    100% { transform: rotate(0deg); }
}

